/* Red Flakes Text Effect */
.redTextEffect {
    font-weight: bold;
    display: inline-block;

    color: #ff0000 !important;
    background-image: url(../../static/effects/red.gif);
}

/* Gold Flakes Text Effect */
.goldTextEffect {
    font-weight: bold;
    display: inline-block;

    color: #FFD700 !important;
    background-image: url(../../static/effects/gold.gif);
}

/* Purple Flakes Text Effect */
.purpleTextEffect {
    font-weight: bold;
    display: inline-block;

    color: #bb71e4 !important;
    background-image: url(../../static/effects/purple.gif);
}