@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* background */
body {
  font-family: 'VCR OSD Mono', monospace;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)),
  url('../../static/wallpaper.gif');
  background-size: cover !important;
  background-position: center;
  height: 100vh;
}

/* custom cursor */
* {
  cursor: url('../../static/cursor.png') 8 8, auto !important;
}